<div class="container">

	<p>
	  <strong>Title:</strong>
	  <%= @post.title %>
	</p>

	<p>
	  <strong>Content:</strong>
	  <%= @post.content %>
	</p>

	<%= image_tag @post.photo, class:"img-responsive" %>

	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>

  <div id="comments_count">
    <%= @post.comments.count %>
  </div>

  <div id="comments">
    <%= render partial: "comments/comment", collection: @last_comments %>
  </div>
	<%= render 'comments/form' %>

</div>
